.divPerfil
{
    margin-top: 10%;

}
.menu
{
    /* background: #17408B  !important; */
    height: 100%;
}
.backMenu
{
    color: white;
    margin-right: 85%;
    font-size: 25px;
}
.divInfoUser
{
    margin-top: 10%
}
.itemMenu{
    font-size: 18px;
    /* margin-right: 25%; */
    /* margin-left:  */
    text-align: left !important;
}
.menuItem{
    margin-left: 1% !important;
}
.menuIdioma
{
    margin-left: 90%
}
.logo{
    width: 150px;
    height: 100px;
}
.logoPqno{
    width: 50px;
    height: 50px;
}
.lineDivider{
    background-color:  #FFFFFF;
}
.Teste{
    min-width: 20vh !important;
}
.Teste2{
    min-width: "80px" !important;
    max-width: "80px" !important;
}
.footer{
    background: white !important;
    color: black;
}
.menuUsuario{
    
    background: #001529  !important;
    border-bottom: 0px !important;
    color: white;
}
.headerColor{
    background: #001529  !important;
}
.subMenuUsuario{
    margin-top: 50%;
    font-size: 28px !important;
}
.ant-menu-item-selected {
    background-color: #C9082A !important;
}